<template name="task">
    <li> 
        <input type="checkbox" checked="{{isChecked}}" class="toggle-checked" />
    
        <span style="{{#if isChecked}} color: red; {{/if}}">
            {{text}}
        </span>

        <!-- {{#if isChecked}}
            <span style="color: red;">
                {{text}}
            </span>
        {{else}}
            <span>
                {{text}}
            </span>
        {{/if}} -->

        <button class="delete">&times;</button>
    </li>
</template>